<!-- Common entry rendering for paginated list or single log -->
<ion-item lines="full" *ngFor="let entry of displayLogs; trackBy: trackById">
  <app-log-entry-item
    style="width: 100%;"
    [entry]="entry"
    [showCategories]="showCategories"
    [showEdit]="showEdit"
    [showDelete]="showDelete"
    [editable]="editable"
    (showAll)="showAll.emit($event)"
    (edit)="edit.emit($event)"
    (delete)="delete.emit($event)"
  ></app-log-entry-item>
</ion-item>

<!-- Pagination controls -->
<ion-row *ngIf="showPaginationControls" class="ion-padding-top">
  <ion-col class="ion-text-center">
    <ion-button [disabled]="currentPage <= 1" (click)="previousPage()" fill="outline" size="small">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>

    <ion-text class="ion-padding-horizontal">
      {{ currentPage }} / {{ totalPages }}
    </ion-text>

    <ion-button [disabled]="currentPage >= totalPages" (click)="nextPage()" fill="outline" size="small">
      <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
