services:
  mongodb:
    image: mongo:4.4.25
    restart: always
    networks:
      - main
    volumes:
     - mongodata:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_ADMINUSERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_ADMINPASSWORD}

  influxdb:
    image: influxdb:2.7.4
    restart: always
    networks:
      - main
    volumes:
      - influxdata:/var/lib/influxdb2
      # - ./config/influxdb-config.yml:/etc/influxdb2/config.yml
    environment:
      DOCKER_INFLUXDB_INIT_MODE: "setup"
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUXDB_USERNAME}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUXDB_PASSWORD}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUXDB_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUXDB_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_TOKEN}

  rabbitmq:
    build: ./rabbitmq
    restart: always
    ports:
      - ${MQTT_PORT_EXTERNAL}:1883
      - "127.0.0.1:5072:15672"
    networks:
      - main

  mongo-express:
    image: mongo-express:1.0.0-18
    restart: unless-stopped
    ports:
      - ${MONGOEXPRESS_PORT_EXTERNAL:5088}:8081
    networks:
      - main
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGODB_ADMINUSERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGODB_ADMINPASSWORD}
      ME_CONFIG_MONGODB_SERVER: "mongodb"

  server:
    build: ./server
    restart: always
    links:
     - mongodb
     - influxdb
     - rabbitmq
    ports:
      - ${API_PORT_EXTERNAL}:8081
    networks:
      - main
    environment:
      SECRET_KEY: ${TOKEN_SECRET_KEY}
      PORT: 8081
      API_URL_EXTERNAL: ${API_URL_EXTERNAL}
      DB_HOST: "mongodb"
      DB_PORT: "27017"
      DB_DATABASE: ${MONGODB_DATABASE}
      DB_USER: ${MONGODB_ADMINUSERNAME}
      DB_PASSWORD: ${MONGODB_ADMINPASSWORD}
      MQTT_URL: "rabbitmq"
      INFLUXDB_TOKEN: ${INFLUXDB_TOKEN}
      INFLUXDB_HOST: 'influxdb'
      INFLUXDB_BUCKET: ${INFLUXDB_BUCKET}
      INFLUXDB_ORG: ${INFLUXDB_ORG}
      AUTOMATION_TOKEN: ${AUTOMATION_TOKEN}
      LOG_FORMAT: "combined"
      LOG_DIR: "/var/log/plantalytix"
      ENABLE_SELF_REGISTRATION: ${ENABLE_SELF_REGISTRATION}
      SELF_REGISTRATION_PASSWORD: ${SELF_REGISTRATION_PASSWORD}
      ADMINUSER_USERNAME: ${ADMINUSER_USERNAME}
      ADMINUSER_PASSWORD: ${ADMINUSER_PASSWORD}
      REQUIRE_ACTIVATION: ${REQUIRE_ACTIVATION}
      SMTP_SENDER: ${SMTP_SENDER}
      SMTP_SERVER: ${SMTP_SERVER}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_SECURE: ${SMTP_SECURE}
      SMTP_PASSWORD: ${SMTP_PASSWORD}

networks:
  main:
    driver: bridge

volumes:
  mongodata:
    external: true
    name: ${DOCKER_MONGODATA_VOUME:-fg2_mongodata}
  influxdata:
    external: true
    name: ${DOCKER_INFLUXDATA_VOLUME:-fg2_influxdata}
