<ion-header translucent>
  <ion-toolbar>
    <ion-title>Datenschutzbedingungen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div style="padding:10px">
    <h1>Erklärung zur Informationspflicht (Datenschutzerklärung)</h1>
    <p>Willkommen beim Plantalytix Portal! Diese Datenschutzrichtlinie beschreibt die Praktiken
    von der microgreenbox gmbh (Plantalytix) in Bezug auf die Erfassung, Verwendung und
    Weitergabe von Informationen über unser Portal https://plantalytix-app.com. In diesen
    Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der
    Datenverarbeitung im Rahmen unserer Website.</p>

    <h3>Erhebung personenbezogener Daten beim Besuch unseres Portals</h3>
    <p>Bei der Nutzung unseres Portals werden folgenden Daten erhoben. Diese sind technisch
    erforderlich, um unser Portal anzuzeigen und zu nutzen:</p>
    <ul>
      <li>Seriennummer des Geräts</li>
      <li>Einstellungen (Zielwerte etc.)</li>
      <li>E-Mail Adresse</li>
      <li>Verschlüsseltes Passwort</li>
    </ul>

    <h3>Weitergabe an Dritte</h3>
    <p>Alle Daten werden bei uns lokal gespeichert und nicht an Dritte weitergegeben. Wir können
    Ihre personenbezogenen Daten aber an Dritte weitergeben, wenn dies zur Erfüllung unserer
    vertraglichen oder gesetzlichen Verpflichtungen erforderlich ist.</p>

    <h3>Ihre Rechte</h3>
    <p>Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung,
    Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die
    Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
    datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich
    bei der Aufsichtsbehörde beschweren. In Österreich ist dies die Datenschutzbehörde.</p>

    <h3>Grundsätze der Verarbeitung personenbezogener Daten</h3>
    <p>Die Verarbeitung personenbezogener Daten basiert auf strengen Grundsätzen, welche den
    Schutz und die Sicherheit der Daten sowie die Rechte der Betroffenen als höchste Güter
    ansehen.</p>

    <h3>Rechtmäßigkeit und Transparenz</h3>
    <p>Die Datenverarbeitung erfolgt auf rechtmäßige Weise, nach Treu und Glauben. Die betroffene
    Person wird bei der Erhebung der Daten über die geplante Verarbeitung und den Umgang mit
    den Daten in Kenntnis gesetzt. So werden Betroffene zumindest über die folgenden Punkte
    informiert:</p>

    <h3>Zweckbindung</h3>
    <p>Die Daten werden zu festgelegten, eindeutigen und legitimen Zwecken erhoben und
    verarbeitet. Die Verarbeitung der Daten erfolgt nicht in einer mit diesen Zwecken nicht
    vereinbarten Art und Weise.</p>

    <h3>Datenminimierung</h3>
    <p>Es werden nur jene Daten erhoben und verarbeitet, die für die angegebenen Zwecke zwingend
    notwendig sind. Wenn es zur Erreichung des Zwecks möglich ist und der Aufwand
    angemessen ist, werden nur anonymisierte Daten verarbeitet.</p>

    <h3>Speicherbegrenzung und Löschung</h3>
    <p>Personenbezogene Daten werden gelöscht, sobald der Zweck, für welchen sie ursprünglich
    erhoben wurden, verfällt und gesetzlichen Aufbewahrungsfristen eine Löschung nicht
    verhindern. Bestehen im Einzelfall schutzwürdige Interessen an diesen Daten, so werden
    diese weiterhin aufbewahrt, bis das schutzwürdige Interesse rechtlich geklärt wurde.</p>

    <h3>Datensicherheit</h3>
    <p>Für personenbezogene Daten gilt das Datengeheimnis. Die Daten sind im Umgang vertraulich
    zu behandeln und werden durch angemessene organisatorische und technische Maßnahmen
    gegen unbefugten Zugriff, unrechtmäßige Manipulation oder Weitergabe sowie vor Verlust
    und Zerstörung geschützt.</p>

    <h3>Sachliche Richtigkeit</h3>
    <p>Personenbezogene Daten sind richtig, vollständig und aktuell zu halten. Es werden
    angemessene Maßnahmen getroffen, um veraltete, inkorrekte oder unvollständige Daten zu
    korrigieren.</p>

    <h3>Verpflichtung auf das Datengeheimnis</h3>
    <p>All unsere Mitarbeiter sind vertraglich zur Geheimhaltung verpflichtet und werden
    regelmäßig auf den sicheren Umgang mit personenbezogenen und anderen kritischen Daten
    hingewiesen und geschult.</p>

    <h3>Rechte der Betroffenen</h3>
    <p>Jede betroffene Person, deren personenbezogene Daten von uns verarbeitet werden, hat
    jederzeit die Möglichkeit sich auf die eigenen Rechte der Betroffenen zu berufen und diese
    geltend zu machen. Zur Ausübung Ihrer Betroffenenrechte können Sie sich jederzeit
    schriftlich per E-Mail an sales@plantalytix.com wenden.</p>

    <h3>Auskunft</h3>
    <p>Betroffene können jederzeit Auskunft darüber verlangen, welche personenbezogenen Daten
    über sie verarbeitet werden und welchen Zwecken diese Verarbeitung dient.Richtigstellung
    Betroffene haben das Recht, die unverzügliche Berichtigung sie betreffender unrichtiger
    personenbezogener Daten zu verlangen.</p>

    <h3>Einschränkung</h3>
    <p>Betroffene Personen haben das Recht auf Einschränkung der Verarbeitung, wenn die
    Richtigkeit der sie betreffenden Daten bestritten wird, die Verarbeitung unrechtmäßig ist, die
    Daten für die Verarbeitung nicht länger benötigt werden oder die betroffenen Personen der
    Verarbeitung widersprochen haben.</p>

    <h3>Widerruf</h3>
    <p>Betroffene Personen haben das Recht, jederzeit gegen die Verarbeitung sie betreffender
    personenbezogener Daten Widerspruch einzulegen.</p>

    <h3>Übertragbarkeit</h3>
    <p>Betroffene Personen haben das Recht, die sie betreffenden personenbezogenen Daten, die sie
    uns zur Verfügung gestellt haben, in einem strukturieren, gängigen und maschinenlesbaren
    Format zu erhalten. Sie haben zudem das Recht die Übertragung dieser Daten an einen
    anderen Verantwortlichen zu verlangen, sofern technisch machbar. Die Übertragbarkeit gilt
    nur für personenbezogene Daten, die mithilfe automatisierter Verfahren verarbeitet werden.</p>

    <h3>Löschung - Recht auf Vergessenwerden</h3>
    <p>Die betroffene Person hat das Recht die unverzügliche Löschung der sie betreffenden
    personenbezogenen Daten zu verlangen, wenn die Rechtsgrundlage für die Verarbeitung der
    Daten fehlt oder wegfällt, der Datenverarbeitung widersprochen wird, die Datenverarbeitung
    unrechtmäßig ist und keine gesetzlichen Aufbewahrungsfristen eine Löschung unmöglich
    machen. Die Datensicherheit hat auch in Bezug auf die Betroffenenrechte einen hohen
    Stellenwert, weshalb die Geltendmachung von Betroffenenrechten nur nach einer
    zweifelsfreien Identifikation der betroffenen Person möglich ist. Sie haben zudem jederzeit
    das Recht auf Beschwerde bei der Datenschutzbehörde.</p>

    <h3>Datenübermittlung</h3>
    <p>Eine Übermittlung personenbezogener Daten an Empfänger außerhalb des Unternehmens
    sowie Empfänger in EU-Drittländern erfolgt nur im Einklang mit geltenden Gesetzen und auf
    rechtmäßiger Basis sowie unter Beachtung höchster Vertraulichkeit und Datensicherheit. Wir
    bedienen uns bei Verarbeitungen verschiedener Auftragsverarbeiter. Alle Auftragsverarbeiter
    sind mit einer Auftragsverarbeitervereinbarung vertraglich an die Einhaltung der gesetzlich
    geltenden Datenschutzbestimmungen verpflichtet.</p>

    <h3>Sie erreichen uns unter folgenden Kontaktdaten:</h3>
    <p>microgreenbox gmbh<br/>
    Galgenau 39<br/>
    4240 Freistadt</p>

    <h3>Änderungen dieser Datenschutzerklärung</h3>
    <p>Wir behalten uns vor, diese Datenschutzerklärung in Einvernehmen mit den gesetzlichen
    Datenschutzbestimmungen anzupassen.</p>
  </div>
</ion-content>
