<ion-card>
  <ion-card-header>
    <ion-card-title> {{'settings.cloudSettings' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>{{ 'settings.vpdLeafTempOffsetDay' | translate}}</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="cloudSettings.vpdLeafTempOffsetDay"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
        class="ion-text-right"></ion-input>
      <ion-text>&deg;C</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{ 'settings.vpdLeafTempOffsetNight' | translate}}</ion-label>
      <ion-input type="number"
                 [(ngModel)]="cloudSettings.vpdLeafTempOffsetNight"
                  (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
                 class="ion-text-right"></ion-input>
      <ion-text>&deg;C</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.rtspStream' | translate}}</ion-label>
      <ion-button fill="clear" id="cloudSettings-rtspStream-popover">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-input
        type="text"
        [(ngModel)]="cloudSettings.rtspStream"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
        class="ion-text-right"></ion-input>
      <ion-popover trigger="cloudSettings-rtspStream-popover" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            {{'settings.rtspStreamHint' | translate}}
            <a href="https://www.ffmpeg.org/ffmpeg-protocols.html" target="_blank">FFMPEG Documentation</a>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.rtspStreamTransport' | translate}}</ion-label>
      <ion-select
        [(ngModel)]="cloudSettings.rtspStreamTransport"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
        class="ion-text-right">
        <ion-select-option value="tcp">tcp</ion-select-option>
        <ion-select-option value="udp">udp</ion-select-option>
        <ion-select-option value="http">http</ion-select-option>
        <ion-select-option value="https">https</ion-select-option>
      </ion-select>
      <ion-popover trigger="cloudSettings-rtspStream-popover" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            {{'settings.rtspStreamHint' | translate}}
            <a href="https://www.ffmpeg.org/ffmpeg-protocols.html" target="_blank">FFMPEG Documentation</a>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item lines="none" [hidden]="!cloudSettings?.rtspStream">
      <ion-label>{{'settings.logRtspStreamErrors' | translate}}</ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.logRtspStreamErrors"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.autoFirmwareUpdate' | translate}}</ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.autoFirmwareUpdate"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.betaFeatures' | translate}}</ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.betaFeatures"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
      ></ion-checkbox>
    </ion-item>
  </ion-card-content>
</ion-card>
