// mat-card {
//   max-width: 400px;
//   margin: 2em auto;
//   text-align: center;
// }

// mat-form-field {
//   display: block;
//   input {
//     width: 100%;
//   }
// }

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height:100%;
  width:400px;
  margin: auto;
}

.inner {
  width: 100%;
}

@media (min-width: 480px) {
  .outer {
    width:480px;
    margin: auto;
  }
}
