<ng-container *ngIf="deviceSettingsJson">

  <ion-card *ngIf="errorSaving">
    <ion-card-header>
      <ion-card-title>{{'misc.errorOccurred' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'misc.unableToSaveSettings' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="errorLoading">
    <ion-card-header>
      <ion-card-title>{{'misc.errorOccurred' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'misc.unableToLoadSettings' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <div class="save-overlay" *ngIf="saving">
    <div class="inner">
      <p><ion-spinner color="light"></ion-spinner></p>
      <p>{{'misc.saving' | translate}}</p>
    </div>
  </div>

  <fridge-settings-config [settingsJson]="deviceSettingsJson" [(settingsJson)]="deviceSettingsJson" />

  <ion-card>
    <ion-card-header>
      <ion-card-title> {{'settings.firmwareUpdates' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>{{'settings.autoFirmwareUpdates' | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="firmwareSettings.autoUpdate"></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="alarms !== null">
    <ion-card-header>
      <ion-card-title> {{'settings.alarms.title' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" (click)="addAlarm()">{{'settings.alarms.add' | translate}}</ion-button>
      <ion-card *ngFor="let alarm of alarms">

        <ion-card-content>

          <ion-item lines="none">
            <ion-label>{{'settings.alarms.name' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="alarm.name" class="ion-text-right" [disabled]="alarm.disabled"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label>{{'settings.alarms.sensorType' | translate}}</ion-label>
            <ion-select [(ngModel)]="alarm.sensorType" [disabled]="alarm.disabled">
              <ion-select-option *ngFor="let sensorType of availableSensorTypes" [value]="sensorType">
                {{sensorType}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label>{{'settings.alarms.upperThreshold' | translate}}</ion-label>
            <ion-button fill="clear" id="upperThreshold-popover-{{alarm.alarmId}}">
              <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
            <ion-input type="number" [(ngModel)]="alarm.upperThreshold" class="ion-text-right" [disabled]="alarm.disabled"></ion-input>
            <ion-popover trigger="upperThreshold-popover-{{alarm.alarmId}}" dismissOnSelect="true">
              <ng-template>
                <ion-content>
                  {{'settings.alarms.upperThresholdHint' | translate}}
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item lines="none">
            <ion-label>{{'settings.alarms.lowerThreshold' | translate}}</ion-label>
            <ion-button fill="clear" id="lowerThreshold-popover-{{alarm.alarmId}}">
              <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
            <ion-input type="number" [(ngModel)]="alarm.lowerThreshold" class="ion-text-right" [disabled]="alarm.disabled"></ion-input>
            <ion-popover trigger="lowerThreshold-popover-{{alarm.alarmId}}" dismissOnSelect="true">
              <ng-template>
                <ion-content>
                  {{'settings.alarms.lowerThresholdHint' | translate}}
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item lines="none">
            <ion-label>{{'settings.alarms.actionType' | translate}}</ion-label>
            <ion-select [(ngModel)]="alarm.actionType" [disabled]="alarm.disabled">
              <ion-select-option value="info">{{'settings.alarms.actionTypeInfo' | translate}}</ion-select-option>
              <ion-select-option value="email">{{'settings.alarms.actionTypeEmail' | translate}}</ion-select-option>
              <ion-select-option value="webhook">{{'settings.alarms.actionTypeWebhook' | translate}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none" [hidden]="alarm.actionType === 'info'">
            <ion-label [color]="(!alarm.actionTarget && alarm.actionType !== 'info' && !alarm.disabled) ? 'danger' : ''">
              {{'settings.alarms.actionTarget' | translate}}
            </ion-label>
            <ion-button fill="clear" id="actionTarget-popover-{{alarm.alarmId}}">
              <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
            <ion-input [type]="alarm.actionType === 'email' ? 'email' : alarm.actionType === 'webhook' ? 'url' : 'text'"
                       [required]="alarm.actionType !== 'info' && !alarm.disabled"
                       [(ngModel)]="alarm.actionTarget" class="ion-text-right" [disabled]="alarm.disabled"></ion-input>
            <ion-popover trigger="actionTarget-popover-{{alarm.alarmId}}" dismissOnSelect="true">
              <ng-template>
                <ion-content>
                  {{'settings.alarms.actionTargetHint' | translate}}
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item lines="none" [hidden]="alarm.actionType === 'info'">
            <ion-label>{{'settings.alarms.additionalInfo' | translate}}</ion-label>
            <ion-checkbox [(ngModel)]="alarm.additionalInfo" [disabled]="alarm.disabled"></ion-checkbox>
          </ion-item>

          <ion-item lines="none">
            <ion-label>{{'settings.alarms.cooldownSeconds' | translate}}</ion-label>
            <ion-button fill="clear" id="cooldownSeconds-popover-{{alarm.alarmId}}">
              <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
            <ion-input type="number" [(ngModel)]="alarm.cooldownSeconds" class="ion-text-right" [disabled]="alarm.disabled"></ion-input>
            <ion-popover trigger="cooldownSeconds-popover-{{alarm.alarmId}}" dismissOnSelect="true">
              <ng-template>
                <ion-content>
                  {{'settings.alarms.cooldownSecondsHint' | translate}}
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-button color="danger" (click)="removeAlarm(alarm)">{{'settings.alarms.delete' | translate}}</ion-button>
          <ion-button [color]="alarm.disabled ? 'primary' : 'light'" (click)="toggleAlarm(alarm)">{{'settings.alarms.' + (alarm.disabled ? 'enable' : 'disable') | translate}}</ion-button>

        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>{{'settings.control-mode' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-select [(ngModel)]="settings.fridge_mode">
          <ion-select-option value="1">{{'settings.control-mode-humidity' | translate}}</ion-select-option>
          <ion-select-option value="2">{{'settings.control-mode-temperature' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-content>
      <ion-button color="secondary" expand="block" (click)="saveSettings();">{{'misc.save' | translate}}</ion-button>
      <!-- <ion-button color="danger" expand="block" (click)="resetForm();">{{'buttons.revert' | translate}}</ion-button> -->
    </ion-card-content>
  </ion-card>

</ng-container>
