<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'charts.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="button-row" style="float:right">
    <button [class.active]="ts.enabled" (click)="setSpan(ts)" *ngFor="let ts of timespans">{{ts.name}}</button>
  </div>
  <div class="button-row">
    <button [class.active]="m.enabled" (click)="toggleMeasure(m)" *ngFor="let m of measures">{{m.name}}</button>
  </div> -->

  <ion-row>
    <ng-container *ngFor="let m of filtered_measures">
      <ion-col class="onoff cooling" style="cursor: pointer;" [class.on]="m.enabled" (click)="toggleMeasure(m)">
        <img class="icon-on" src="assets/icon/{{m.icon}}.svg" />
        <img class="icon-off" src="assets/icon/{{m.icon}}_off.svg" />
      </ion-col>
    </ng-container>
    <ng-container>
      <ion-col
        class="onoff deviceImage"
        style="cursor: pointer;"
        [class.on]="showImage"
        (click)="toggleShowImage()"
        [hidden]="!cloudSettings?.rtspStream"
        title="Show image">
        <img class="icon-on" src="assets/icon/camera.svg" />
        <img class="icon-off" src="assets/icon/camera_off.svg" style="opacity: 0.3" />
      </ion-col>
      <ion-col
        [hidden]="!cloudSettings?.betaFeatures"
        class="onoff showLogs"
        style="cursor: pointer;"
        [class.on]="showLogs"
        (click)="toggleShowLogs()"
        title="Show logs">
        <img class="icon-on" src="assets/icon/logs.svg" />
        <img class="icon-off" src="assets/icon/logs_off.svg" style="opacity: 0.3" />
      </ion-col>
      <ion-col
        class="onoff autoUpdate"
        style="cursor: pointer;"
        [class.on]="autoUpdate"
        (click)="toggleAutoUpdate()"
        [hidden]="offset < 0"
        title="Auto update">
        <img class="icon-on" src="assets/icon/autoUpdate.png" />
        <img class="icon-off" src="assets/icon/autoUpdate_off.png" style="opacity: 0.3" />
      </ion-col>
    </ng-container>
  </ion-row>

  <ion-row [hidden]="(!useCustom && !showLightOffsetControls()) || (autoUpdate && (showImage || showLogs) && !hasEnabledMeasures())">
    <ng-container>
      <ion-col>
        <ion-item lines="none">
          <ion-label>{{'charts.timespan' | translate}}</ion-label>
          <ion-select
            [(ngModel)]="selectedTimespan"
            (ionChange)="timespanChanged()"
            style="width: 4.7em"
          >
            <ion-select-option *ngFor="let ts of getAvailableTimespans()" [value]="ts">
              {{ts.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col [hidden]="showLightOffsetControls()">
        <ion-item lines="none">
          <ion-label>{{'charts.interval' | translate}}</ion-label>
          <ion-select
            [(ngModel)]="selectedInterval"
            (ionChange)="intervalChanged()"
            style="width: 4.7em"
          >
            <ion-select-option *ngFor="let interval of intervals" [value]="interval">
              {{interval}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col [hidden]="!isMeasureEnabled('vpd') || !['fridge', 'fridge2', 'light'].includes(device_type)">
        <ion-item lines="none">
          <ion-label>{{ 'charts.vpd-mode-label' | translate }}</ion-label>
          <ion-select
            [(ngModel)]="vpdMode"
            (ionChange)="vpdModeChanged()"
            style="width: 6.5em"
          >
            <ion-select-option value="all">{{'charts.vpd-mode.all' | translate}}</ion-select-option>
            <ion-select-option value="day">{{'charts.vpd-mode.day' | translate}}</ion-select-option>
            <ion-select-option value="night">{{'charts.vpd-mode.night' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col [hidden]="offset >= 0 && !offsetFocused && !showLightOffsetControls()">
        <ion-item lines="none">
          <ion-label>{{'charts.offset' | translate}}</ion-label>
          <ion-input
            type="number"
            style="width: 4em; text-align: center;"
            [(ngModel)]="offset"
            (ionChange)="offsetChanged()"
            (ionBlur)="offsetFocused = false"
            (ionFocus)="offsetFocused = true"
            [disabled]="autoUpdate"
          ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-button
          color="light"
          (click)="prevOffset()"
          [disabled]="autoUpdate"
        >
          &#8592;
        </ion-button>
        <ion-button
          color="light"
          (click)="nextOffset()"
          [disabled]="offset >= 0 || autoUpdate"
        >
          &#8594;
        </ion-button>
      </ion-col>
    </ng-container>
  </ion-row>

  <ion-row [hidden]="useCustom || !hasEnabledMeasures()">
    <ion-col>
      <ion-button
        *ngFor="let tf of timespans"
        [hidden]="!tf.highlight"
        [color]="selectedTimespan === tf ? 'secondary' : 'light'"
        (click)="selectedTimespan = tf; timespanChanged()"
      >
        {{tf.name}}
      </ion-button>
      <ion-button
        color="light"
        (click)="useCustom = true"
      >
        ...
      </ion-button>
    </ion-col>
  </ion-row>


  <div #spacer style="padding: 5px, width: 100%"></div>

  <ion-row>
    <ion-col [style.width]="(showImage || showLogs) ? '50%' : ''" [hidden]="!hasEnabledMeasures()">
      <highcharts-chart
      *ngIf="loaded"
      [Highcharts]="Highcharts"
      constructorType="stockChart"
      [options]="chartOptions"
      [(update)]="updateFlag"
      (chartInstance)="onChartInstance($event)"></highcharts-chart>
    </ion-col>
    <ion-col *ngIf="showImage || showLogs" [style.width]="hasEnabledMeasures() ? '50%' : '100%'">
      <div *ngIf="showImage">
        <img *ngIf="!isAnimatedImage()" [src]="deviceImageUrl ?? ''" fill="fill" alt="Device Image" style="width: 100%"/>
        <video *ngIf="isAnimatedImage()" [src]="deviceImageUrl ?? ''" autoplay muted loop style="width: 100%"></video>
        <br />
        {{ currentImageTimestamp | date: (isAnimatedImage() ? 'mediumDate' : 'medium') }}
      </div>
      <div *ngIf="showLogs">
        <ion-list>
          <ion-item lines="full">
            <ion-label>
              <ion-row>
                <ion-col>
                  <h1>{{'charts.logsTitle' | translate}} ({{ getFilteredLogs().length }})</h1>
                </ion-col>
                <ion-col class="ion-text-right" [hidden]="(this.deviceLogCategories.size <= 0 && !this.selectedLogCategory) || this.selectedLogs.length > 0">
                  <ion-select
                    [(ngModel)]="selectedLogCategory"
                    (ionChange)="logCategoryChanged()"
                    [interfaceOptions]="{'cssClass': 'wider-popover'}"
                  >
                    <ion-select-option value="all">all</ion-select-option>
                    <ion-select-option *ngFor="let category of deviceLogCategories" [value]="category">{{ category }}</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="getFilteredLogs().length < deviceLogs.length">
                <ion-col>
                  <ion-button expand="block" color="primary" (click)="this.selectedLogs.splice(0, this.selectedLogs.length); selectedLogCategory = 'all'">{{'charts.logsShowAll' | translate}}</ion-button>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <ion-item lines="full" *ngIf="getFilteredLogs().length === 0">
            <ion-label>
              {{ (this.selectedLogCategory !== 'all' ? 'charts.logsNoFilteredEntries' : 'charts.logsNoEntries') | translate }}
            </ion-label>
          </ion-item>
          <ion-item *ngFor="let log of getFilteredLogs()" lines="full">
            <ion-label style="white-space: normal">
<!--              <ion-item slot="header" [color]="log.severity == 1 ? 'warning' : log.severity == 2 ? 'danger' : 'light'">-->
<!--              </ion-item>-->
              <ion-row>
                <ion-col>
                  <h3 [style.color]="log.severity === 1 ? 'orange' : log.severity === 2 ? 'crimson' : 'dodgerblue'">
                    {{ log.raw
                    ? log.title
                    : (log.title + '-title' | translate) !== log.title + '-title'
                      ? (log.title + '-title' | translate)
                      : (log.title?.split(':')?.[0] + '-title' | translate: {value: log.title?.split(':')?.[1]})
                    }}
                  </h3>
                </ion-col>
                <ion-col class="ion-text-right">
                  {{ log.time | date: 'medium' }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  {{ log.raw
                  ? log.message
                  : (log.message + '-text' | translate) !== log.message + '-text'
                    ? (log.message + '-text' | translate)
                    : (log.message?.split(':')?.[0] + '-text' | translate: {value: log.message?.split(':')?.[1]})
                  }}
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
