<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'diary.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container>
    <ion-card>
      <ion-card-content>
        <ion-button color="primary" (click)="$event.preventDefault()">
          <ion-icon name="add-circle-outline"></ion-icon>
          {{'diary.addEntry' | translate}}
        </ion-button>

        <ion-select
          [(ngModel)]="selectedReport"
          [interfaceOptions]="{'cssClass': 'wider-popover'}"
          (ngModelChange)="reportSelected()"
          class="ion-float-right"
        >
          <ion-select-option value="co2">{{ 'diary.co2Report' | translate}}</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
